<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Jay 'n Tash</h2>
	<p>
    Natasha "Tash" Vice and Jason "Jay" Wallder, met at a Halloween Party in 2016.
    Each of them brought a whole new type of crazy to the table, but their crazy matched one another's.
    They live together with their fur babies, Nugget, Poncho, and Pixel.
  </p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Jay is a Software Developer and Tash is a Teacher, together they are writing their most beautiful love story.
      This is the start of their next chapter, and would be thoroughly excited if you were to join them in starting!</p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>
