<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>June 22, 2019</p>

	<p>Black Horse Brewery<br>
	32 Zeekoeihoek Road<br>
	Magaliesburg, Gauteng 1791</p>

  <p>Dress Code is Formal</p>

	<p>
	1:00 PM - Venue Opens<br>
	2:00 PM - Ceremony<br>
	3:00 PM - Cocktail Hour<br>
	4:30 PM - 00:00 AM - Reception
	</p>

	<p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NDFhYTVrbWZvcjI5anJ1dHQzdGE1bmVqb2cgYXNjaWljYXRkZXNpZ25zQG0&tmsrc=asciicatdesigns%40gmail.com">Add this event to Google Calendar</a>
	</p>

  <p>To give all our guests the opportunity to let their hair down and have a good time without having to worry about little eyes and ears we politely request no children.</p>

	<p>Share photos with the hashtag <strong>#JayNTashWedding2019</strong></p>
  </header>
</div>
