<div class="inner">
  <header class="major">
    <h2>Extra Info</h2>
	   <p>
       <b>A few more details we need to add.</b>
     </p>
     <p>Accomodation in the area, should you wish to stay over:</p>
     <p>Our venue has a list of accomodation in the area <a href="https://blackhorse.co.za/other-accommodation/">here</a></p>
     <br>
     <p>A map of where the venue is:</p>
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14349.790994704696!2d27.537362!3d-25.953352!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x14a6c8dc5851e2cc!2sBlack+Horse+Brewery+%26+Restaurant!5e0!3m2!1sen!2sus!4v1541629746940" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>

     <!-- <table>
       <tr><td>Name</td><td>Type</td><td>Number</td><td>Website/Email</td><td>Distance from Venue</td></tr>
       <tr><td>Trout & Hippo</td><td>Self-Catering</td><td>082 872 0304</td><td><a href="http://www.troutandhippo.co.za">www.troutandhippo.co.za</a></td><td>+/- 0,5 km</td></tr>
       <tr><td>The Rose Well Country House & Spa</td><td>Bed & Breakfast</td><td>082 400 3993</td><td><a href="http://www.rosewellspa.co.za">www.rosewellspa.co.za</a></td><td>+/- 4.8 km</td></tr>
       <tr><td>Mount Grace</td><td>Hotel 5 star</td><td>014 577 5600</td><td><a href="">Marriot Hotels</a></td><td>+/- 6 km</td></tr>
       <tr><td>De Hoek</td><td>Hotel 5 star</td><td>014 577 9600</td><td><a href="http://www.dehoek.com">www.dehoek.com</a></td><td>+/- 0.3 km</td></tr>
       <tr><td>Valley Lodge</td><td>Lodge 4 star</td><td>014 577 1301</td><td><a href="http://www.valleylodge.co.za">www.valleylodge.co.za</a></td><td>+/- 12 km</td></tr>
       <tr><td>Askari</td><td>Lodge 4 star</td><td>014 577 2658/9</td><td><a href="http://www.askarilodge.co.za">www.askarilodge.co.za</a></td><td>+/- 9 km</td></tr>
       <tr><td>Stonehill Cottages</td><td>Guest House</td><td>086 447 6893</td><td><a href="mailto:info@magaliesburgtourism.co.za">info@magaliesburgtourism.co.za</a></td><td>+/- 15 km</td></tr>
       <tr><td>Olive Tree Guest Farm</td><td>Self-Catering</td><td>014 577 2601</td><td><a href="http://www.olivetreefarm.co.za">www.olivetreefarm.co.za</a></td><td>+/- 6 km</td></tr>
       <tr><td>Magalies Manor</td><td>Hotel</td><td>014 577 6400</td><td><a href="http://www.magaliesmanor.co.za">www.magaliesmanor.co.za</a></td><td>+/- 0.3 km</td></tr>
       <tr><td>Magalies Sleepy River</td><td>Camp Site</td><td>082 555 9681</td><td><a href="http://www.magaliessleepyriver.co.za">www.magaliessleepyriver.co.za</a></td><td>+/- 6 km</td></tr>
     </table> -->
  </header>
</div>
