<div class="inner">
  <header class="major">
    <h2>Registry</h2>
	   <p>
       <blockquote>
         You’re invited to our wedding, when we both say ‘I Do’<br>
          And as you know we’ve been ‘I do’-ing for at least a year or two!<br>
          We’ve been together many years, and have a lovely home,<br>
          There’s not that many items we don’t already own.<br>
          So if your thoughts were on a gift, your presence will suffice;<br>
          But if you really feel the need, donations to a honeymoon would be really nice!<br>
          The choice is really up to you and we’d just like to say;<br>
          That most of all, we hope you come, enjoy yourselves, and have a lovely day!<br>
       </blockquote>
     </p>

  </header>
</div>
