<div class="inner">
  <header class="major">
    <h2>Registry</h2>
	   <p>
       <blockquote>
         You’re invited to our wedding, when we both say ‘I Do’<br>
          And as you know we’ve been ‘I do’-ing for at least a year or two!<br>
          We’ve been together many years, and have a lovely home,<br>
          There’s not that many items we don’t already own.<br>
          So if your thoughts were on a gift, your presence will suffice;<br>
          But if you really feel the need, donations to a honeymoon would be really nice!<br>
          The choice is really up to you and we’d just like to say;<br>
          That most of all, we hope you come, enjoy yourselves, and have a lovely day!<br>
       </blockquote>
     </p>
     <p>
       If you would be willing to
       donate to our honeymoon, please use the
       following Banking Details:<br>
       <ul>
         <li><b>Bank:</b> TymeBank</li>
         <li><b>Account Number:</b> 51000266461</li>
         <li><b>Branch Code:</b> 678910</li>
         <li><b>Referance:</b> Please use your name</li>
       </ul>
     </p>

  </header>
</div>
