<div class="inner">
  <header class="major">
    <h2>Instagram #JayNTashWedding2019</h2>

    <div class="info">
      <h3>#JayNTashWedding2019</h3>
      <p>Remember to set your profile to "public"</p>
      <a class="jWQqO Szr5J coreSpriteDesktopNavLogoAndWordmark _7mese" href="/">Instagram</a><a class="jWQqO Szr5J efNlB coreSpriteGlyphBlack" href="/">Instagram</a>
    </div>
    <div id="countdown">
      <div id="countdown-number"></div>
      <svg>
        <circle r="18" cx="20" cy="20"></circle>
      </svg>
    </div>
  </header>
</div>
