<div class="inner">
  <header class="major">
    <h2>RSVP</h2>

	<form id="rsvp-form">
	  <input type="text" name="name" placeholder="Your name"/>
	  <input type="text" name="email" placeholder="Your email"/>
    <select name="attending">
      <option value="" disabled selected>Will you be attending?</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
	  <textarea name="message" placeholder="Leave us a message as well as who's coming!" ></textarea>
	  <input type="text" name="_gotcha" style="display:none"/>
	  <br>
	  <button type="submit">RSVP</button>
	</form>
  </header>
</div>
